---
import BiStars from "./BiStars.astro";
---

<button aria-label="toggle visuals menu">
  <BiStars />
  <div class="sub">
    <span data-visuals="visuals-off">Off</span>
    <span data-visuals="visuals-vortix">Vortix</span>
    <span data-visuals="visuals-winamp">Winamp</span>
  </div>
</button>

<style lang="scss">
  @use "../AudioPlayerButton.scss" as *;

  button {
    @include AudioPlayerButton;
  }

  body.visuals-off span[data-visuals="visuals-off"],
  body.visuals-winamp span[data-visuals="visuals-winamp"],
  body.visuals-vortix span[data-visuals="visuals-vortix"] {
    background: black;
    font-weight: 900;
    cursor: url(/normalhand.webp), pointer;
  }
</style>

<script>
  import { isButterchurnSupported } from "butterchurn/lib/isSupported.min";
  document.addEventListener("astro:page-load", () => {
    document.querySelectorAll("span[data-visuals]").forEach((visuals) => {
      visuals.addEventListener("click", function () {
        setTimeout(() => {
          const closest = visuals.closest("button:focus") as HTMLButtonElement;
          closest.blur();
        }, 100);

        const current =
          [...document.body.classList].find((el) =>
            el.startsWith("visuals-"),
          ) || "";

        document.body.classList.remove(current);
        document.body.classList.add(this.dataset.visuals);

        document.dispatchEvent(
          new CustomEvent("visualChange", {
            detail: {
              type: this.dataset.visuals,
            },
          }),
        );
      });
    });

    if (isButterchurnSupported()) {
      document.querySelector(".visuals-winamp")?.remove();
    }
  });
</script>
