---
import { getCollection } from "astro:content";
import Product from "./Product.astro";

const products = await getCollection("merch");
products.sort((a, b) => (a.data.from < b.data.from ? 1 : -1));
const productsBySlug = Object.fromEntries(
  products.map((p) => [p.data.slug, p.data]),
);
---

<div id="Products">
  {products.map((track) => <Product {...track.data} />)}
</div>

<script define:vars={{ productsBySlug }}>
  window.productsBySlug ??= productsBySlug;
</script>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>

<script src="./random.ts"></script>
<script src="./addToCart.ts"></script>
