---
const { slug } = Astro.props;
---

<div>
  <div>
    <span
      data-ssr-namespace="statistics"
      data-ssr-id={slug}
      data-ssr-field="plays"
    >
    </span> Plays
  </div>
  <div>
    <span
      data-ssr-namespace="statistics"
      data-ssr-id={slug}
      data-ssr-field="reactions"
    >
    </span> Reactions
  </div>
</div>

<style lang="scss">
  div {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    span {
      font-weight: bolder;
    }
  }
</style>
