---
const { slug } = Astro.props;
---

<div>
  <div>
    <span class="plays" data-slug={slug}>
    </span>
  </div>
  <div>
    <span class="reactions" data-slug={slug}>
    </span>
  </div>
</div>

<style lang="scss">
  div {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    span {
      font-weight: bolder;
    }
  }
</style>
