---
import CiShoppingBag02 from "./CiShoppingBag02.astro";
---

<div data-items="0">
  <button>
    <CiShoppingBag02 />
  </button>
</div>

<style>
  div {
    position: relative;
    :relative;
  }
  div[data-items="0"] {
    display: none;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: url(/hand.webp), pointer;
  }

  svg {
    width: var(--button-size);
    height: var(--button-size);
    color: white;
  }
</style>
