---
import WaveFormProgress from "./WaveFormProgress/WaveFormProgess.astro";
import VisualSelector from "./VisualSelector/VisualSelector.astro";
import PlayPause from "./PlayPause/PlayPause.astro";
import FullScreen from "./FullScreen/FullScreen.astro";
import Reactions from "./Reactions/Reactions.astro";
---

<div id="AudioPlayer">
  <PlayPause />
  <WaveFormProgress />

  <Reactions />
  <VisualSelector />

  <FullScreen />
</div>
<style lang="scss">
  div {
    display: flex;
  }
</style>
<style lang="scss" is:global>
  .reactionIcon {
    position: absolute;
    top: 0;
    left: var(--left);
    opacity: 0.5;
    width: 14px;
    transform: translateX(-50%);
  }
</style>
