---
import FePlay from "@/components/Controls/FePlay.astro";
import FePause from "@/components/Controls/FePause.astro";
import AntDesignFullscreenOutlined from "./AntDesignFullscreenOutlined.astro";
import AntDesignFullscreenExitOutlined from "./AntDesignFullscreenExitOutlined.astro";
import WaveFormProgress from "./WaveFormProgess.astro";
---

<div id="AudioPlayer">
  <button class="playPause">
    <FePlay id="playerPlayButton" class="play" />
    <FePause id="playerPauseButton" class="pause" />
  </button>
  <WaveFormProgress />

  <button class="fullscreen">
    <AntDesignFullscreenOutlined class="fullscreenEnter" />
    <AntDesignFullscreenExitOutlined class="fullscreenExit" />
  </button>
</div>
<style lang="scss">
  div {
    display: flex;
  }
  .pause {
    display: none;
  }
  .fullscreenExit {
    display: none;
  }
  button {
    width: 70px;
    height: 70px;
    background: none;
    border: none;
    cursor: url("/hand.webp"), pointer;

    svg {
      width: 50px;
      height: 50px;
      color: white;
    }
  }
  button:hover {
    background: black;
  }
  body.playing {
    .play {
      display: none;
    }
    .pause {
      display: block;
    }
  }
  body.fullscreen {
    .fullscreenEnter {
      display: none;
    }
    .fullscreenExit {
      display: block;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    document
      .getElementById("playerPlayButton")
      ?.addEventListener("click", () => {
        (document.getElementById("audioGlobal") as HTMLAudioElement)?.play();
      });
    document
      .getElementById("playerPauseButton")
      ?.addEventListener("click", () => {
        (document.getElementById("audioGlobal") as HTMLAudioElement)?.pause();
      });

    document
      .querySelector("#AudioPlayer .fullscreen")
      ?.addEventListener("click", () => {
        if (document.fullscreenElement) {
          document.exitFullscreen();
        } else {
          document.documentElement.requestFullscreen();
        }
      });

    document.addEventListener("fullscreenchange", () => {
      if (document.fullscreenElement) {
        document.body.classList.add("fullscreen");
      } else {
        document.body.classList.remove("fullscreen");
      }
    });
  });
</script>
