---
import WaveFormProgress from "./WaveFormProgress/WaveFormProgess.astro";
import VisualSelector from "./VisualSelector/VisualSelector.astro";
import PlayPause from "./PlayPause/PlayPause.astro";
import FullScreen from "./FullScreen/FullScreen.astro";
import Reactions from "./Reactions/Reactions.astro";
---

<div id="AudioPlayer">
  <PlayPause />
  <WaveFormProgress />

  <Reactions />
  <VisualSelector />

  <FullScreen />
</div>
<style lang="scss">
  div {
    display: flex;
  }
</style>
