---
import CiHamburgerMd from "./CiHamburgerMd.astro";

const url = Astro.url;

const pathnames = {
  "/": "Spitofy",
  "/tracks": "Tracks",
  "/tour": "Tour",
  //  "/shop": "Shop",
  "/about": "About",
};

const current =
  pathnames[url.pathname] ?? (url.pathname.startsWith("/track") && "tracks");
---

<div>
  <button aria-label="open submenu popup">
    <CiHamburgerMd class="openSubmenu" />
  </button>
  <nav>
    {
      Object.entries(pathnames).map(([pathname, label]) => (
        <a class:list={[{ current: current === label }]} href={pathname}>
          {label}
        </a>
      ))
    }
  </nav>
</div>

<style lang="scss">
  div {
    position: relative;
    color: white;
  }
  nav {
    position: absolute;
    top: 66px;
    @media (max-width: 500px) {
      top: 54px;
    }
    @media (max-width: 400px) {
      top: 40px;
    }
    right: -210px;
    width: 200px;
    display: flex;
    flex-direction: column;
    backdrop-filter: hue-rotate(180deg) contrast(13) blur(10px);
    background-color: #0006;
    padding: 10px;
    box-sizing: border-box;
    row-gap: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.151);
    z-index: 10;
    transition: right var(--eighth-note) ease-out;
    a {
      text-decoration: none;
      color: #fff;
      width: 6em;
      &.current {
        text-decoration: dotted underline;
      }
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }
  div:focus-within,
  div:hover {
    nav {
      right: -10px;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: url(/hand.webp), pointer;
    .openSubmenu {
      color: #fff;
      height: var(--button-size);
      width: var(--button-size);
    }
  }
</style>
