body.equalizer button[data-type="equalizer"] {
  color: #fabada;
}
body.waveform button[data-type="waveform"] {
  color: #fabada;
}
body.butterchurn button[data-type="butterchurn"] {
  color: #fabada;
}
body.basic button[data-type="basic"] {
  color: #fabada;
}
