---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Menu/Footer.astro";
import Title from "@/components/Title.astro";
import Header from "@/components/Menu/Header.astro";
import LegalStuff from "@/components/LegalStuff.astro";
import Contact from "@/components/Contact.astro";
---

<Layout
  title="About Spitofy."
  og={{
    type: "website",
    description:
      "Spitofy. Oficial website. I create music that I love, for people that I love.",
  }}
>
  <Header title="About" />
  <Title title="About" />

  <img
    class="background"
    src={`${import.meta.env.PUBLIC_CF_IMAGE_URL}antonio.jpg/350x350`}
    srcset={`${import.meta.env.PUBLIC_CF_IMAGE_URL}antonio.jpg/350x350 x1, ${
      import.meta.env.PUBLIC_CF_IMAGE_URL
    }antonio.jpg/700x700 x2`}
    alt="Antonio Fernández Porrúa"
  />
  <img
    class="main"
    src={`${import.meta.env.PUBLIC_CF_IMAGE_URL}antonio.jpg/350x350`}
    srcset={`${import.meta.env.PUBLIC_CF_IMAGE_URL}antonio.jpg/350x350 x1, ${
      import.meta.env.PUBLIC_CF_IMAGE_URL
    }antonio.jpg/700x700 x2`}
    alt="Antonio Fernández Porrúa"
  />
  <section>
    <h3>About:</h3>
    <p>I'm Antonio Fernández Porrúa, techno musician and computer nerd.</p>
    <p>
      I create music that I love, for people that I love. So if you find
      yourself enjoying my music, know that it was made for you too. Though we
      may never meet, we share a connection that transcends time and space.
    </p>
    <p>
      Please enjoy listening to and dancing to my music, at least as much as I
      enjoyed creating it.
    </p>
    <p>Thank you, thank you, thank you. You make this worth it.</p>
  </section>

  <Contact />

  <LegalStuff />

  <Footer />
</Layout>

<style lang="scss">
  img.background {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
  img {
    width: 80vmin;
    height: 80vmin;
    object-fit: cover;
    margin-bottom: 75px;

    filter: contrast(1.5) blur(5px) saturate(25) hue-rotate(180deg);
    animation: mix var(--whole-note) linear infinite;
    animation-play-state: paused;

    &:hover {
      animation-play-state: paused;
      mix-blend-mode: normal;
      filter: contrast(1.5) blur(0) grayscale(1);
      animation-name: none;
    }
  }

  body.playing img {
    animation-play-state: running;
  }

  @keyframes mix {
    0% {
      mix-blend-mode: darken;
    }
    6.25% {
      mix-blend-mode: color-burn;
    }
    12.5% {
      mix-blend-mode: exclusion;
    }
    18.75% {
      mix-blend-mode: color-dodge;
    }
    25% {
      mix-blend-mode: difference;
    }
    31.25% {
      mix-blend-mode: exclusion;
    }
    37.5% {
      mix-blend-mode: difference;
    }
    43.75% {
      mix-blend-mode: darken;
    }
    50% {
      mix-blend-mode: multiply;
    }
    56.25% {
      mix-blend-mode: overlay;
    }
    62.5% {
      mix-blend-mode: saturation;
    }
    68.75% {
      mix-blend-mode: screen;
    }
    75% {
      mix-blend-mode: darken;
    }
    81.25% {
      mix-blend-mode: exclusion;
    }
    87.5% {
      mix-blend-mode: color-burn;
    }
    93.75% {
      mix-blend-mode: darken;
    }
  }
  section {
    color: white;
    backdrop-filter: hue-rotate(180deg) contrast(13) blur(10px);
    background-color: #0008;
    width: auto;
    display: inline-block;
    padding: 20px 40px;
    font-size: 19px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.151);
    margin-bottom: 20px;
    text-align: left;

    min-width: 50%;
    max-width: 600px;
  }
</style>
