---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Menu/Footer.astro";
import Title from "@/components/Title.astro";
import Header from "@/components/Menu/Header.astro";
import LegalStuff from "@/components/LegalStuff.astro";
import Contact from "@/components/Contact.astro";
---

<Layout
  title="About Spitofy."
  og={{
    type: "website",
    description:
      "Spitofy. Oficial website. I create music that I love, for people that I love.",
  }}
>
  <Header title="About" />
  <Title title="About" />

  <section>
    <h3>About:</h3>
    <p>
      I create music that I love, for people that I love. So if you find
      yourself enjoying my music, know that it was made for you too. Though we
      may never meet, we share a connection that transcends time and space.
    </p>
    <p>
      Please enjoy listening to and dancing to my music, at least as much as I
      enjoyed creating it.
    </p>
    <p>Thank you, thank you, thank you. You make this worth it.</p>
  </section>

  <Contact />

  <LegalStuff />

  <Footer />
</Layout>

<style lang="scss">
  section {
    color: white;
    backdrop-filter: hue-rotate(180deg) contrast(13) blur(10px);
    background-color: #0008;
    width: auto;
    display: inline-block;
    padding: 20px 40px;
    font-size: 19px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.151);
    margin-bottom: 20px;
    text-align: left;

    min-width: 50%;
    max-width: 600px;
  }
</style>
