---
import FePlay from "./FePlay.astro";
import FePause from "./FePause.astro";
---

<div class="playPause">
  <FePlay id="mainPlayButton" class="play" />
  <FePause id="mainPauseButton" class="pause" />
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    document.getElementById("mainPlayButton")?.addEventListener("click", () => {
      (document.getElementById("audioGlobal") as HTMLAudioElement)?.play();
    });
    document.getElementById("mainPauseButton")?.addEventListener("click", () => {
      (document.getElementById("audioGlobal") as HTMLAudioElement)?.pause();
    });
  });
</script>

<style lang="scss">
  .playPause {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity var(--quarter-note);
    transform: translate(-50%, -50%);

    cursor: url(/hand.webp), pointer;
    border: 2px solid #fff0;
    z-index: 1;

    height: 100px;
    width: 200px;
    border-radius: 10px;
    color: #fffb;
    background: #000b;

    &:hover {
      border: 2px solid #fffb;
      background: #000;
      color: #fff;
    }
    svg {
      width: 100%;
      height: 100%;
    }

    .play {
      display: block;
    }
    .pause {
      display: none;
    }
  }

  body.playing .playPause {
    opacity: 0;

    .play {
      display: none;
    }
    .pause {
      display: block;
    }
  }

  body.userRecentAction .playPause {
    opacity: 1;
  }
</style>
