.DatesInput {
  color: white;
  backdrop-filter: hue-rotate(180deg) contrast(13) blur(10px);
  background-color: #0008;
  width: auto;
  display: inline-block;
  padding: 20px 40px;
  font-size: 19px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.151);
  z-index: 10;
  margin-bottom: 20px;

  min-width: 50%;

  & > fieldset {
    border: none;
    display: grid;
    label {
      text-align: right;
      font-weight: 900;
    }

    input,
    textarea {
      backdrop-filter: invert(1);
      background-color: #fff;
      border: none;
      color: black;
      font-weight: 900;
      font-family: monospace;
      font-size: 18px;
      padding: 5px 10px;
    }
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    gap: 10px;
  }

  button {
    background-color: #0005;
    border: none;
    color: white;
    border: 1px solid white;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 40px;
    text-transform: uppercase;
    cursor: url(/hand.webp), pointer;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.151);
    transition: 0.15s;
    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}
