---
import Spitofy from "./Spitofy.svg.astro";

---

<div class="container">

  <div class="polygon">
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
      <div class="side"></div>
    </div>
  </div>
  <div class="logo">
    <Spitofy />
  </div>
  <div id="logoover" class="logo logo-over">
    <Spitofy />
  </div>
  <script>
    function randomLogo () {
      logoover.style.top = Math.random() * 100 + "lvh";
      logoover.style.left = Math.random() * 100 + "vw";
      logoover.style.transform = `rotate(${Math.random() * 360}deg)`
      window.requestAnimationFrame(randomLogo);
    }

    window.requestAnimationFrame(randomLogo);
  </script>

  <style lang="scss">
    .logo {
      width: 350px;
      left: 50%;
      position: fixed;
      top: 50%;
      top: 50lvh;
      transform: translate(-50%, -50%);
      z-index: -1;
      filter: drop-shadow(0 0 15px #000);
    }
    .logo.logo-over {
      left: 50%;
      position: fixed;
      top: 50%;
      top: 50lvh;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      z-index: 99999;
      pointer-events: none;
      filter: drop-shadow(0 0 15px #fff);
    }
    @media (max-width: 400px) {
      .logo {
        width: 200px;
        svg {
          width: 200px;
        }
      }
    }

.container {
  background-color: #000;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  perspective: 3.125vmin;
  position: fixed;
  width: 100vw;
  height: 100lvh;
  top: 0;
  left: 0;
  animation: 0.11s linear infinite hueRotate;
  z-index: -1;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


// Polygon -----------------------------

.polygon {
  animation: 0.13s linear infinite polygon;
  left: 50%;
  position: fixed;
  top: 50%;
  transform-style: preserve-3d;
  transition: top 0.5s;
  transform: rotatex(90deg) rotatey(0) translatey(-25vmin);
}

@keyframes polygon {
  0% {
    transform: rotatex(90deg) rotatey(0) translatey(-25vmin);
  }

  100% {
    transform: rotatex(90deg) rotatey(360deg) translatey(0);
  }
}

// Side --------------------------------

$n: 16; // number of sides
$r: 25vmin; // inradius (apothem)
$a: 2 * $r * tan(180deg / $n); // side length

.side {
  background-image: url(/fractal-fire-sky-seamless-background.jpg);
  background-size: ($n * $a) 25%;
  height: 100vmin;
  position: fixed;
  transform-origin: 0;
  width: calc(#{$a} + 1px);
  animation: 0.25s ease alternate infinite inandout;

  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      background-position: ($a * $i * -1) 0;
      transform: rotatey(calc(360deg / $n * $i)) translate3d(-50%, -50%, $r);
    }
  }
}

@keyframes inandout {
  0% {
    background-size: ($n * $a) 5%;
  }

  100% {
    background-size: ($n * $a) 95%;
  }
  
}

  </style>