<nav>
  <a href="/legal">Legal Terms</a>
  <a href="/legal">Privacy Policy</a>
  <a href="https://www.linkedin.com/in/antonio-fernandez-porrua/"
    >developed by</a
  >
</nav>

<style>
  nav {
    margin: calc(100vh - 100px) 0 100px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    a {
      text-decoration: none;
      color: #fffa;
      &:hover {
        color: #fff;
      }
    }
  }
</style>
