---
import Spitofy from "./Icons/Spitofy.svg.astro";
---

<div id="logoover" class="logo logo-over">
  <Spitofy />
</div>

<style lang="scss">
  div {
    left: 100px;
    position: fixed;
    width: 200px;
    top: 30px;
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    z-index: 99999;
    pointer-events: none;
    filter: drop-shadow(0 0 50px #fff);
    animation: random var(--word) linear infinite;
    animation-play-state: paused;
  }

  body.playing div {
    animation-play-state: running;
  }

  @keyframes random {
    @for $i from 1 through 16 {
      #{($i * 6.25% )} {
        top:random(100) * 1%;
        left: random(100) * 1%;
        transform: translate(-50%, -50%) rotate(random(360) * 1deg);
        opacity: 0.1;
      }
      #{($i * 6.25% + 0.1%)} {
        top:random(100) * 1%;
        left: random(100) * 1%;
        opacity: 0.5;
        transform: translate(-50%, -50%) rotate(random(360) * 1deg) scale(2);
      }

    }
  }
</style>

