---
// import NodeListOf type


// get the path of the page

const url = Astro.url

let current: string

switch (url.pathname) {
    case "/":
        current = "releases"
        break;
    case "/dates":
        current = "dates"
        break;
    case "/merch":
        current = "merch"
        break;
    case "/covers":
        current = "covers"
        break;
    default:
        current = "releases"
}

---

<header>
    <nav>
        <a class:list={[{ current: current === 'releases' }]} href="/">Releases</a>
        <a  class:list={[{ current: current === 'dates' }]} href="/dates">Dates</a>
    </nav>
</header>
<footer>
    <nav>
        <a  class:list={[{ current: current === 'merch' }]} href="/merch">Merch</a>
        <a  class:list={[{ current: current === 'covers' }]} href="/covers">Covers</a>
    </nav>
</footer>
<script>
    function random() {
        // 'NodeListOf' is not defined
        // eslint-disable-next-line
        const as = document.querySelectorAll("nav>a:not(:hover)") as NodeListOf<HTMLElement>;
        
        as.forEach(a => {

            a.style.fontWeight = (200 + Math.random() * 700).toString()
            
            if (Math.random() < 0.90) {
                a.style.textTransform = "uppercase";
            } else {
                a.style.textTransform = "lowercase";
            }

            a.style.textDecorationLine = "none";


            if (Math.random() < 0.90) {
                a.style.fontStyle = "normal";
            } else {
                a.style.fontStyle = "oblique";
            } 
        });

        const current = document.querySelector("nav>a.current:not(:hover)") as HTMLElement;

        if (current) {
            current.style.textDecorationThickness = Math.random() * 5 + 'px'
            current.style.textDecorationLine = ["underline", "overline", "line-through"][Math.floor(Math.random() * 3)]
            current.style.textDecorationColor = `hsl(${Math.random() * 360}, 100%, 75%)`
            current.style.textDecorationStyle = ["solid", "dotted", "dashed"][Math.floor(Math.random() * 3)]

            if (Math.random() > 0.95) {
                current.style.letterSpacing = -5 + Math.random() * 10 + 'px'
            }

        }

        window.requestAnimationFrame(random);

    }

    window.requestAnimationFrame(random);
</script>

<style lang="scss">
    header, footer {
        background: #0006;
        padding: 20px;
        backdrop-filter: hue-rotate(180deg) contrast(13) blur(10px);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.151);
        z-index: 10;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    a {
        min-width: 20%;
        &:last-child {
            text-align: right;
        }
        &.current {
            text-decoration: dotted underline;
        }
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 5px;
    }
    @media (max-width: 400px) {
        a {
            font-size: 20px;
        }
    }
</style>