---
import Track from "./Track.jsx";

import { getCollection } from 'astro:content';

const tracks = (await getCollection('tracks'));
---

<div>{
    tracks.map(track => (
        <Track
            client:idle
            img={track.data.img}
            mp3={track.data.mp3}
            name={track.data.name}
            slug={track.data.slug}
        />
    ))
    }

</div>

<style>
    div {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>