---
import Track from "./Track/Track.astro";

import { getCollection } from "astro:content";

const tracks = await getCollection("tracks");

tracks.sort((a, b) => (a.data.date < b.data.date ? 1 : -1));
---

<div>
  {tracks.map((track) => <Track {...track.data} />)}
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1979px;
    margin: 0 auto;
  }
</style>
