---
const title = Astro.props.title;
---

<h1>{title}</h1>

<script>
  function random() {
    if (!document.body.classList.contains("playing")) {
      window.requestAnimationFrame(random);
      return;
    }
    // 'NodeListOf' is not defined
    // eslint-disable-next-line
    const as = document.querySelectorAll("h1") as NodeListOf<HTMLElement>;

    as.forEach((a) => {
      a.style.fontWeight = (200 + Math.random() * 700).toString();

      if (Math.random() < 0.9) {
        a.style.textTransform = "uppercase";
      } else {
        a.style.textTransform = "lowercase";
      }

      a.style.textDecorationLine = "none";

      if (Math.random() > 0.95) {
        a.style.letterSpacing = -2 + Math.random() * 6 + "px";
      }
      if (Math.random() < 0.8) {
        a.style.fontStyle = "normal";
      } else {
        a.style.fontStyle = "oblique";
      }

      a.style.textDecorationThickness = Math.random() * 5 + "px";
      a.style.textDecorationLine = ["underline", "overline", "line-through"][
        Math.floor(Math.random() * 3)
      ];
      a.style.textDecorationColor = `hsl(${Math.random() * 360}, 100%, 75%)`;
      a.style.textDecorationStyle = ["solid", "dotted", "dashed"][
        Math.floor(Math.random() * 3)
      ];
    });

    window.requestAnimationFrame(random);
  }

  window.requestAnimationFrame(random);
</script>

<style lang="scss">
  h1 {
    font-size: 5em;
    color: white;
    text-shadow: 0px 0px 1px black;
    height: 100px;
    margin: 100px 0 10px;
    max-width: 100vw;
    overflow: hidden;
    @media (max-width: 400px) {
      font-size: 4em;
    }
    @media (max-width: 300px) {
      font-size: 3em;
    }
  }
</style>
