.Track {
  display: flex;
  gap: 10px;
  flex-direction: column;
  backdrop-filter: hue-rotate(180deg) contrast(13) blur(10px);
  background-color: #0008;
  color: white;
  align-items: center;
  cursor: url(/hand.webp), pointer;
  transform: scale(0.95);
  transition: 0.15s;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.151);
}
.Track__img {
  width: 350px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.Track:hover {
  .Track__img {
    transform: scale(1.05);
  }
}
