---
import "./Background.scss";
---

<div
  id="Background"
  class="container activeVisuals"
  style={{ display: "block" }}
>
  <div class="polygon">
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
  </div>
</div>
<script src="./randomBackground.ts"></script>

<script>
  let lastFrame = 0;
  const audio = document.getElementById("audioGlobal") as HTMLAudioElement;
  const background = document.getElementById("Background") as HTMLElement;

  let running = false;

  function randomLogo(currentFrame: number) {
    if (
      !document.body?.classList.contains("playing") ||
      !document.body.classList.contains("visuals-vortix")
    ) {
      running = false;
      return;
    }
    running = true;
    const bpm = audio.dataset.bpm || "120";

    let currentBpm = parseInt(bpm);

    if (currentFrame - lastFrame < 1000 / (currentBpm / 60) / 4) {
      window.requestAnimationFrame(randomLogo);
      return;
    }
    lastFrame = currentFrame;
    window.requestAnimationFrame(randomLogo);

    background.style.backgroundColor = `hsl(${Math.random() * 360}, 100%, ${
      Math.random() * 25 + 25
    }%)`;
    background.style.perspective = `${Math.random() * 2 + 2}vmin`;
  }

  audio.addEventListener("play", () => {
    if (!running) {
      window.requestAnimationFrame(randomLogo);
    }
  });

  document.addEventListener("visualChange", () => {
    if (!running) {
      window.requestAnimationFrame(randomLogo);
    }
  });
</script>
